<style>
table, th, td {
border: 1px solid black;
border-collapse: collapse
}
th, td {
padding: 10px;
}
</style>
<table align = 'center'>
<caption>Exam Schedule for 1.1.2021.</caption>
<tr>
<td>Exam</td>
<td>Class room</td>
<td>Hours</td>
<td>Class room capacity</td>
<td>Number of students</td>
<tr>
<td>os</td>
<td>RLAB</td>
<td>8-11</td>
<td>30</td>
<td>30</td>
</tr>
<tr>
<td>os</td>
<td>DLAB</td>
<td>8-11</td>
<td>30</td>
<td>12</td>
</tr>
<tr>
<td>azrs</td>
<td>RLAB</td>
<td>11-14</td>
<td>30</td>
<td>15</td>
</tr>
<tr>
<td>p2</td>
<td>DLAB</td>
<td>11-14</td>
<td>30</td>
<td>30</td>
</tr>
<tr>
<td>UOAR</td>
<td>RLAB</td>
<td>14-17</td>
<td>30</td>
<td>30</td>
</tr>
<tr>
<td>UOAR</td>
<td>DLAB</td>
<td>14-17</td>
<td>30</td>
<td>30</td>
</tr>
<tr>
<td>UOAR</td>
<td>RLAB</td>
<td>17-20</td>
<td>30</td>
<td>10</td>
</tr>
<tr>
<td>verovatnoca</td>
<td>821</td>
<td>8-10</td>
<td>50</td>
<td>30</td>
</tr>
<tr>
<td>unm</td>
<td>706</td>
<td>8-10</td>
<td>32</td>
<td>10</td>
</tr>
<tr>
<td>analiza2</td>
<td>821</td>
<td>10-13</td>
<td>50</td>
<td>30</td>
</tr>
<tr>
<td>algebra</td>
<td>706</td>
<td>10-12</td>
<td>32</td>
<td>15</td>
</tr>
<tr>
<td>laag</td>
<td>706</td>
<td>12-14</td>
<td>32</td>
<td>32</td>
</tr>
<tr>
<td>laag</td>
<td>821</td>
<td>13-15</td>
<td>50</td>
<td>10</td>
</tr>
<tr>
<td>analiza1</td>
<td>706</td>
<td>14-16</td>
<td>32</td>
<td>32</td>
</tr>
<tr>
<td>analiza1</td>
<td>821</td>
<td>15-17</td>
<td>50</td>
<td>28</td>
</tr>
<tr>
<td>DS</td>
<td>706</td>
<td>16-18</td>
<td>32</td>
<td>20</td>
</tr>
</tr>
</table><br>
<table align = 'center'>
<tr>
<td>Cancled Exams</td>
</tr>
<tr>
<td>RS</td>
</tr>
</table>
